.wrapper{
    display: grid;
    grid-template-columns: 1fr 654px 300px 1fr ;
    background-color: #1b1b1b;
}
.header{
    grid-column: 2/5;
}
.header-before{
    
    grid-column: 1/2;
    background-color: #000;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
}
.banner,
.content-top{
    grid-column: 2/4;
}
.main{
    grid-column: 2/3;
}
.sidebar{
    grid-column: 3/4;
}
.wrapper-header{
    grid-column: 2/4;
}
