body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper-header{
    background-color: #000;
    color: #fff;
}
.header-1{
    display: flex;
    margin-left: 10%;
    height: 40px;
}
.search .search-button{
    background-color: #276fe7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.search .search-button img{
    
    width: 60%;
}
.search .search-txt{
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    float: left;
    line-height: 20px;
    width: 380px;
    
}
.header-1 .search{
    background-color: #fff;
    border-radius: 20px;
    height: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;

}

.header-1 .member{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 10px;
   
    font-size: 15px;
}

.header-2 .list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
.header-2 .list li {
    padding: 0 ;  
    text-transform: uppercase;
}
.header-2 .list li:first-child {
    background-color:#339966 ;
    border:2px solid #1f5639;
}
.header-2 .list li a{
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
