body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.wrapper{
    background-color: #000;
    color: #fff;
}
.header{
    display: flex;
    margin-left: 10%;
    /* border:2px solid #000; */
    
}
.search-button{
    background-color: #276fe7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.search-button img{
    
    width: 60%;
}
.search-txt{
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    float: left;
    line-height: 20px;
    width: 380px;
    
}
.search{
    background-color: #fff;
    border-radius: 20px;
    height: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;

}
.header-1{
    height: 40px;
    
}
.member{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 10px;
   
    font-size: 15px;
}

.list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
.list li {
    padding: 0 ;
    
    text-transform: uppercase;
   

}
.list li:first-child {
    background-color:#339966 ;
    border:2px solid #1f5639;
}
.list li a{
    padding: 10px 5px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}


/* #home{
    background-color: #3c9966;
} */